@using ChinaHCM.QA.Site.Model
@using ChinaHCM.QA.Core.Model
@model ChangePasswordModel
@{
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "密码修改";
}
<div id="editBody">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true);
        <table cellpadding="4" cellspacing="1" border="0" class="edit">
            <tr>
                <td class="rightTd">
                    @Html.LabelFor(m => m.Password)：
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
            <tr>
                <td class="rightTd">
                    @Html.LabelFor(m => m.NewPassword)：
                </td>
                <td>
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </td>
            </tr>
            <tr>
                <td class="rightTd">
                    @Html.LabelFor(m => m.RePassword)：
                </td>
                <td>
                    @Html.PasswordFor(m => m.RePassword)
                    @Html.ValidationMessageFor(m => m.RePassword)
                </td>
            </tr>
            <tr>
                <td colspan="2" class="centerTd">
                    @Html.HiddenFor(m => m.UserId)
                    <input type="submit" value="  保 存  " class="button" onclick="Save()" />
                </td>
            </tr>
        </table>   
    }
</div>
